<script type="text/javascript" src="http://leaverou.github.io/prefixfree/prefixfree.min.js"></script>

<div class="row red-bg">
  <div class="col l6 m7 s1">
    <section>
        <div id="action">
            <div id="keg">
                <div id="pipe-handle"></div>
                <div id="pipe"></div>
                <div id="pipe-front"></div>
            </div>

            <div class="glass">
                <div class="beer"></div>
                <div class="handle">
                    <div class="top-right"></div>
                    <div class="bottom-right"></div>
                </div>
                <div class="front-glass"></div>
            </div>
        </div>
    </section>
  </div>
  <div class="col l4 m4 s1">
    <div class="bubble left">LET'S GRAB A BEER AND BUILD SOMETHING COOL TOGETHER</div>
  </div>
  <!-- Mobile View -->


</div>

<div class="container">
  <div class="row">
    <div class="col s12">
      <h1>Maxime Orefice</h1>

      <h3>Code gardener & API citizen</h3>

      </br>

      <h5><%= link_to 'https://www.linkedin.com/in/maximeorefice' do %><i class="fa fa-linkedin-square fa-lg"></i> Linkedin<% end %></h5>
      <h5><%= link_to 'https://github.com/goldenson' do %><i class="fa fa-github fa-lg"></i> Github<% end %></h5>
      <h5><%= link_to 'https://twitter.com/goldenson_' do %><i class="fa fa-twitter fa-lg"></i> Twitter<% end %></h5>
      <h5><%= link_to 'https://medium.com/@Goldenson_' do %><i class="fa fa-medium fa-lg"></i> Medium<% end %></h5>
      <h5><%= link_to 'https://angel.co/maxime-orefice' do %><i class="fa fa-angellist fa-lg"></i> Angel<% end %></h5>
      </br>

    </div>
  </div>
</div>

