<!DOCTYPE html>
<html>
<head>
  <title>Maxime Orefice</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="keywords" content="freelancer, freelance, ruby, rails, paris, responsive, paris.rb, paris, ruby on rails, consulting, ror" />
  <meta name="description" content="Software Craftsman - Ruby on Rails" />
  <meta name="author" content="Maxime Orefice - https://www.goldenson.fr" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

<%= yield %>

</body>
</html>
